@import url("https://fonts.googleapis.com/css?family=Lato|Roboto");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 300;
  color: #252525;
}

p {
  font-family: "Roboto", sans-serif;
}

.text-center {
  text-align: center;
}

.form-group-text {
  height: 3vh;
  width: 15vw;
  margin: 2%;
  text-align: center;
  position: relative;
}
.form-group-text label {
  margin: auto;
  font-size: 20px;
}
.form-group-text input {
  width: 100%;
  border: none;
  font-size: 20px;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0;
}

.form-group-date {
  height: 3vh;
  width: 15vw;
  margin: 2%;
  text-align: center;
  position: relative;
}
.form-group-date label {
  margin: auto;
  font-size: 20px;
}
.form-group-date input {
  width: 100%;
  border: none;
  font-size: 20px;
}

input[type="date"] {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0;
}

.form-group-file {
  height: 3vh;
  width: 15vw;
  margin: 2%;
  text-align: center;
  position: relative;
}
.form-group-file label {
  margin: auto;
  font-size: 20px;
}
.form-group-file input {
  width: 100%;
  border: none;
  font-size: 20px;
}
.form-group-file p small {
  font-style: italic;
  margin: 2%;
  font-size: 12px;
}

input[type="file"] {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  padding: 12px 20px;
  margin: 8px 0;
}

.form-group-select {
  height: 3vh;
  width: 15vw;
  margin: 2%;
  text-align: center;
  position: relative;
}
.form-group-select label {
  margin: auto;
  font-size: 20px;
}
.form-group-select select {
  width: 100%;
  border: none;
  font-size: 20px;
}

select {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  padding: 12px 20px;
  margin: 8px 0;
}

.form-group-textarea {
  height: 3vh;
  width: 15vw;
  margin: 2%;
  text-align: center;
  position: relative;
}
.form-group-textarea label {
  margin: auto;
  font-size: 20px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 20px;
}

.card {
  height: 10vh;
  width: 18rem;
  margin: 2vh;
  background-color: #ffffff;
}
.card .card-body {
  padding: 3vh;
  height: auto;
  width: auto;
}
.card .card-body .card-title {
  font-size: 3vh;
}
.card .card-body .card-text {
  font-size: 2vh;
}
.card .card-body .card-btn {
  width: 2vw;
}
.card .card-body a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2vh;
}
.card .card-body a:link {
  text-decoration: none;
}
.card .card-body a:visited {
  text-decoration: none;
}
.card .card-img-top {
  height: 30vh;
  width: 30vw;
}

hr {
  width: 90vw;
}

.flex-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-center {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-space-evenly {
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
}

.flex-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.flex-grow {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

button {
  width: auto;
  height: 5vh;
  border-radius: 2vh;
  font-size: 20px;
}

.nav-btn {
  margin-top: 0.2vh;
  background-color: #c8b8b7;
  color: #ffffff;
}
.nav-btn:hover {
  background-color: #ffffff;
  color: #f4e9de;
}

.btn {
  width: auto;
  border-radius: 2vh;
  cursor: pointer;
}

.btn-primary {
  background-color: #c8b8b7;
  color: #ffffff;
}

.btn-normal {
  background-color: #c8b8b7;
  color: #ffffff;
  opacity: 0.9;
}

.btn-danger {
  background-color: #b5133a;
  color: #ffffff;
}

.btn-success {
  background-color: #008148;
  color: #ffffff;
}

.btn-return {
  background-color: #c8b8b7;
  color: #ffffff;
}
.btn-return i {
  margin-right: 0.5vw;
}

nav {
  height: 10vh;
  width: 100vw;
  background-color: #f4e9de;
}
nav .navbar-left {
  margin: 0;
}
nav .navbar-right {
  margin-left: auto;
}
nav .nav-link {
  margin: 1vw;
}
nav a {
  color: #656464;
  text-decoration: none;
}

.dashboard-container {
  padding: 0;
  margin: 0;
  height: 80vh;
  width: 100vw;
}
.dashboard-container ul {
  list-style: none;
  width: 50vw;
  margin-left: 25vw;
}

.news-header {
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 20vh;
  border-bottom: 0.1vw solid black;
}
.news-header h1 {
  margin-bottom: 2vh;
}

.news-container {
  height: 90vh;
  width: auto;
}
.news-container .card {
  height: 50vh;
  width: 30vw;
  margin: 2vh;
  background-color: #ffffff;
}
.news-container .card .card-body {
  height: auto;
  width: auto;
}
.news-container .card .card-body a {
  color: #f4e9de;
  font-weight: bold;
}
.news-container .card .card-body a:hover {
  color: #646363;
}
.news-container .card .card-body span {
  font-size: 1.5vh;
  margin-bottom: 2vh;
}

.news-description-container {
  height: 90vh;
}
.news-description-container .card {
  height: auto;
  width: auto;
  background-color: #ffffff;
}
.news-description-container .card .card-img-top {
  margin-left: auto;
  margin-right: auto;
}
.news-description-container .card .card-title {
  font-style: oblique;
  margin-bottom: 1vh;
}
.news-description-container .card .card-subtitle {
  font-style: oblique;
  font-weight: 100;
  color: grey;
  margin-bottom: 1vh;
}
.news-description-container .card .card-text {
  font-family: "Lato", sans-serif;
  font-weight: lighter;
}

.annonces-container {
  height: 90vh;
  width: auto;
  display: table;
}
.annonces-container hr {
  width: 100vw;
}
.annonces-container .card {
  height: 20vh;
  width: 35vh;
  margin: 2vh;
  background-color: #ffffff;
}
.annonces-container .card .card-body {
  height: auto;
  width: auto;
}
.annonces-container .card .card-body a {
  color: #f4e9de;
  font-weight: bold;
}
.annonces-container .card .card-body a:hover {
  color: #646363;
}
.annonces-container .card .card-body span {
  font-size: 1.5vh;
  margin-bottom: 2vh;
}
.annonces-container .input-table {
  display: table;
  margin-left: 1vw;
  width: 30vw;
}
.annonces-container .input-table .input-group {
  display: table-row;
  background-color: #ffff;
  padding-left: 5vw;
}
.annonces-container .input-table .input-group span {
  display: table-cell;
  padding-left: 2vw;
}
.annonces-container .input-table .input-group input[type="text"] {
  display: table-cell;
  width: 20vw;
  border: none;
  border-bottom: #646363 1px solid;
  font-size: 20px;
}
.annonces-container .input-table .input-group button {
  display: table-cell;
  width: 2vw;
  height: 3vh;
  margin-left: 1vw;
}

.annonce-container {
  position: relative;
}
.annonce-container .card {
  width: 20vw;
  text-align: center;
}

.container {
  height: 90vh;
}

.admin-links {
  justify-content: space-evenly;
}

.add-container {
  height: 90vh;
  width: 100vw;
}

.profile-container {
  height: 90vh;
}
.profile-container .card {
  background-color: #ffffff;
  width: 20vw;
  height: 17vh;
  text-align: center;
}
.profile-container .card .card-title {
  font-style: oblique;
  font-weight: bold;
  margin-bottom: 1vh;
  color: #f4e9de;
}
.profile-container .card .card-subtitle {
  font-style: oblique;
  font-weight: 100;
  color: grey;
  margin-bottom: 1vh;
}
.profile-container .card .card-text {
  font-family: "Lato", sans-serif;
  font-weight: lighter;
}
.profile-container .card .card-btn {
  width: 12vw;
  margin-left: auto;
  margin-right: auto;
}
.profile-container button {
  margin: 2vh;
}

.stages-container {
  height: 90vh;
  width: 100vh;
  margin-top: 2vw;
  margin-left: 5vw;
}
.stages-container blockquote {
  line-height: 1.4;
}

.user-left-infos {
  width: 20vw;
  padding-top: 5vh;
  line-height: 1.5;
}

.user-right-infos {
  width: 80vw;
  margin-left: 1vw;
}
.user-right-infos p {
  font-size: 15px;
}
.user-right-infos p i {
  font-style: italic;
  color: gray;
}

.stages-list {
  margin-left: 3vw;
}
.stages-list ul {
  list-style: none;
}
.stages-list ul li {
  margin-top: 2vh;
}

.stage-title {
  font-size: 30px;
}

.stage-li {
  line-height: 1.5;
  font-size: 20px;
}

.recommendation {
  height: 2vh;
}

.recommend-wrapper {
  margin-top: 2vh;
  border: 1px solid black;
  border-radius: 1vh;
}
.recommend-wrapper .slick-arrow {
  background: #008746a3;
}

.modal-container {
  background-color: #f4e9de;
  width: 20vw;
  margin: auto;
  margin-top: 20vh;
}
.modal-container h1 {
  margin: 1.5vh;
}
.modal-container button {
  width: 4vw;
}

#full_description a {
  margin: 1.5vh;
}

.landing-container {
  height: 90vh;
  width: 100vw;
}
.landing-container img {
  margin: 2vh;
}

.form-group {
  background-color: #ffffff;
  height: 3vh;
  width: 15vw;
  margin: 2vh;
  text-align: center;
}
.form-group label {
  margin: auto;
  font-size: 20px;
}
.form-group input {
  width: 100%;
  border: none;
  font-size: 20px;
}

form button[type="submit"] {
  text-align: center;
}
