.annonce-category {
  width: 100px;
  height: 100px;
}
.annonce-category i {
  transform: scale(2.5);
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Lato", sans-serif;
}
