.my-gallery-class {
  max-height: 600px;
  width: auto;
}
.container h2 {
  font-size: 40px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

.news-card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 200ms ease-in-out;
}
.news-card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}
